*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  height: 100%;
  font-family: monospace;
}
body{
  padding-bottom: 10vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img{
  margin: 5vmin;
}
